<h2 class="chatTitle">Public Chat</h2>

<div id="messagesContainer">

   <ul id="messageList">
   </ul>

   <form id="sendMessageForm">
      <input type="text" id="messageTextInput" placeholder="Say something...">
   </form>

</div>
