<title>Home Page</title>
<h1>Home Page</h1>
<div>
  <div class="well col-sm-4">
    <h3> Top 5 stocks </h3>
  </div>
  <div class="well col-sm-8 pull-right">
    <h3> Twitter Feed </h3>
  </div>
  <div class="well col-sm-4">
    <h3> Today's Events</h3>
  </div>
</div>
