<!doctype html>
<html ng-app='swenApp'>
<head>

	<% include header %>

	<title>Home</title>

</head>

<body ng-controller="homeCtrl">
	<header class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">SWEN-344</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li><a href="/stocks">Stocks</a></li>
					<li><a href="/calendar">Calendar</a></li>
					<li><a href="/logout">Log out</a></li>
				</ul>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<h2>Hey, <%= user.username %></h2>
		</div>

		<div infinite-scroll="myPagingFunction()" infinite-scroll-distance="3">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div ng-repeat="tweet in tweetsResult | orderBy: '-id'">
						<div ng-bind-html="tweet.oEmbed.html"></div>
					</div>
				</div>
			</div>
		</div>

	</main>
</body>
</html>
