<!doctype html>
<html ng-app='swenApp'>
<head>

	<% include header %>

	<title>Home</title>

</head>

<body ng-controller="homeCtrl">
	<% include navbar %>

	<main>
		<div class="container">
			<h2 ng-model="welcomeTagline">Hey, <%= user.username %></h2>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">

					<% include chat %>

					<form class="form-horizontal">
						<div class="form-group">
							<textarea name="tweet" ng-model="tweetField" id="tweetField" class="form-control" placeholder="What's happening?"></textarea>
						</div>
						<div class="form-actions">
							<button type="submit" ng-click="postTweet()" class="btn btn-md btn-primary">Tweet</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="container" infinite-scroll="getTweets()" infinite-scroll-distance="3" infinite-scroll-disabled="infiniteScrolling">
			<div class="row">
				<div style="text-align: center;" ng-repeat="tweet in tweetsToShow | limitTo: limit">
					<div ng-bind-html="tweet.oEmbed.html"></div>
				</div>
			</div>
		</div>

	</main>

</body>
</html>
