<!doctype html>
<html>
   <head>

      <% include header %>

      <title>Twitter Login</title>

   </head>

   <body>

      <div style="margin: 10em auto; text-align:center;">

      <h3>Hey there, login below with Twitter!</h3>
      <h3 style="margin-top: 2em;"><a href="/auth/twitter" class="btn btn-md btn-primary" id="loginBtn">Login</a></h3>
      </div>

   </body>
</html>
