<!doctype html>
<html>
<head>
    <title>Index!</title>
</head>
<body>

   <h1>Log In</h1>

   <form action="/auth/twitter" method="get">
      <input type="text" name="username" placeholder="Twitter Username">
      <input type="password" name="password" placeholder="Twitter Password">
      <button type="submit">Login</button>
   </form>

</body>
</html>
