<!doctype html>
<html ng-app='swenApp'>
<head>

	<% include header %>

	<title>Messages</title>

</head>

<body ng-controller="homeCtrl">
	<% include navbar %>

	<main>

      <div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h2 class="message-history-title">Message History</h2>
					<div id="message-history-well" class="well">
					<ul id="message-history-list">
					<% for(var i=0; i<messages.length; i++) {%>
						<% if (messages[i].sender == user.displayName) {%>
							<li class='message messageMe'>
						<% } else { %>
							<li class='message messageNotMe'>
						<% } %>
						<p class='sender'><%=messages[i].sender%></p><p class='body'><%=messages[i].body%></p></li>
					<% } %>
					</ul>
				</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">

					<% include chat %>

				</div>
			</div>
		</div>

	</main>

	<script>

		scrollMessagesToBottom();

		function scrollMessagesToBottom() {
	      var msgHistoryWell = document.getElementById('message-history-well');
	      msgHistoryWell.scrollTop = msgHistoryWell.scrollHeight;
	   }

	</script>

</body>
</html>
