<!doctype html>
<html ng-app='swenApp'>
<head>

   <% include header %>

   <!-- Stock Scripts -->
   <script src="https://code.highcharts.com/stock/highstock.src.js"></script>

   <!-- Typeahead Script -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

	<title>Stocks</title>

</head>

<body id="mainCtrl" ng-controller="mainCtrl">
    <% include navbar %>

    <div class="col-sm-6 container stockPanel   ">

       <form style="margin-left:50px;">
             Search:<br/>
             <input type="text" class="typeahead" name="symbol" ng-model="searchField" id="searchField">
             <button type="submit" ng-click="getStockQuote()">Search</button>
       </form>

       <div ng-show="stockQuote" class="hideByDefault" style="padding:20px;margin-left:20px;">
           <div class="well" style="padding:20px 20px 80px 20px">
               <div class='col-sm-6'>
                   <p><b>Name: </b>{{stockQuote.Name}}</p>
               </div>
               <div class='col-sm-6'>
                   <p><b>Symbol: </b>{{stockQuote.Symbol}}</p>
               </div>
               <div class='col-sm-6'>
                   <p><b>Last Price: </b>{{stockQuote.LastPrice}}</p>
               </div>
               <div class='col-sm-6'>
                   <p><b>Change: </b>{{stockQuote.Change}}</p>
               </div>
           </div>
       </div>

       <div class='row col-sm-8' ng-show="chartConfig">
           <highchart id="chart1" config="chartConfig"></highchart>
       </div>

    </div>

    <div class="col-sm-4 col-offset-sm-1">
      <div class="well">
        <p> Stocks owned: {{amountOwned}}</p>
        <form ng-submit="stockBuy()">
          <input type="number" ng-model="purchaseAmount" ng-disabled="disable">
          <input type="submit" class="btn btn-small btn-primary" value="Buy Stock(s)"ng-disabled="disable">
        </form>
        <form ng-submit="stockSell()">
          <input type="number" ng-model="sellAmount" ng-disabled="disable">
          <input type="submit" class="btn btn-small btn-primary" value="Sell Stock(s)"ng-disabled="disable">
        </form>
        <p> Current Profit: ${{profit}}</p>
      </div>

      <div class="well">
      <p> Current Note: {{displayNote}}</p>
      <form ng-submit="addNote()">
        <textarea ng-model="noteDesc">Enter new note here</textarea>
        <input type="submit" class="btn btn-small btn-primary" value="Add Note" ng-disabled="disable">
      </form>

      </div>

      <div class="well">
        Transaction History:
        <div ng-repeat="transaction in allStocks">
        <p> Stock: {{transaction.stock}}<br>
        Price: {{transaction.price}}<br>
        Number: {{transaction.amount}}<br>
        Date: {{transaction.date}}</p>
        <hr>
        </div>
    </div>

    <% include socket %>

    <!-- Typeahead Functionality -->
    <script>

      $('.typeahead').typeahead({minLength: 4, highlight: true, hint: true}, {
         name: 'stock-names',
         async: true,
         templates: {
            suggestion: function(data) {
               return '<p><strong>' + data["Name"] + '</strong> - ' + data["Symbol"] + '</p>';
            }
         },
         display: function(data) {
            return data["Symbol"];
         },

         source: function(query, syncResults, asyncResults) {
            return $.ajax({
               url: "/stocks/search", // CONSIDER MAKING A DIRECT CALL TO THE MARKIT API -> JSONP INSTEAD OF JSON
               type: 'GET',
               data: {search: query},
               dataType: 'json',
               success: function (json) { // THIS MAY THROW AN ERROR IF TOO MANY REQS ARE MADE PER SECOND
                  console.log("AJAX Res: " + json);
                  return asyncResults(json);
               }
            });
         }
      });

      $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
         console.log('Selection: ' + suggestion["Symbol"]);
         // Angular needs to be kept up to date, so when the user presses enter to select a suggestion, set the scope var to reflect this
         angular.element(document.getElementById('mainCtrl')).scope().searchField = suggestion["Symbol"];
      });

    </script>

</body>
</html>
