
/* Twitter Styles */

.twitterContainer {

   margin-top: 10em;

}

#tweets-list {
   list-style: none;
}

#twitter-api-error {
   display: none;

   margin: 1em;
   padding: 0;

   text-align: center;

}

/* Message History Styles */

.message-history-title {

   margin: 1em 0;
   padding: 0;

   text-align: center;

}

#message-history-well {

   height: 600px;
   overflow-y: scroll;

}

#message-history-list {

   margin: 0;
   padding: 0;

   list-style: none;

}


/* Pop-Up Chat Styles */

#messagesContainer {

   position: fixed;
   bottom: -300px;
   right: 4em;

   height: 300px;
   width: 250px;

   margin: 0;
   padding: 0;
   padding-bottom: 1em;

   overflow-y: scroll;

   background: #F2F2F2;

   z-index: 100;

}

.chatTitle {

   position: fixed;
   bottom: 0px;
   right: 4em;

   width: 250px;

   cursor: pointer;

   margin: 0;
   padding: .75em 1.25em;

   font-size: 1em;
   font-weight: 500;

   background: #33332D;
   color: #fff;

   -moz-box-shadow: 0 0 5px #888;
   -webkit-box-shadow: 0 0 5px#888;
   box-shadow: 0 0 5px #888;

   border-top-left-radius: 2px;
   border-top-right-radius: 2px;

}

.chatTitle:hover {

   background: #333;

}

#messageList {

   display: none;

   margin: 0;
   padding: 1em 1.25em;

   list-style: none;
}

.message:first-child {

   margin: 0;

}

.message {

   margin: 2em 0;
   padding: 0;

}

.message > .sender {

   margin: 0;
   margin-bottom: .5em;
   padding: 0;

   font-size: .9em;
   font-weight: 400;
   color: #aaa;

}

.message > .body {

   margin: 0;
   padding: .5em .75em;

   border-radius: 4px;

   color: #000;

   display: inline-block;

}

.messageMe > .body {

   background: #B0E2FF;

}

.messageMe {
   text-align: right;
}

.messageNotMe {
   text-align: left;
}

.messageNotMe > .body {

   background: white;

}

#messageTextInput {

   display: none;

   outline: none;

   margin: 0;
   padding: .35em;

   position: fixed;
   bottom: 0;
   right: 4em;

   width: 250px;

}


/* Typeahead Styles */

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.stockPanel {
  margin: 10px;
  padding: 10px;
}




/* End Typeahead Styles */


/* Twitter Embed Styles */

blockquote.twitter-tweet {
 display: inline-block;
 font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
 font-size: 12px;
 font-weight: bold;
 line-height: 16px;
 border-color: #eee #ddd #bbb;
 border-radius: 5px;
 border-style: solid;
 border-width: 1px;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
 margin: 10px 5px;
 padding: 16px 16px 16px 16px;
 max-width: 468px;
}

blockquote.twitter-tweet p {
 font-size: 16px;
 font-weight: normal;
 line-height: 20px;
}

blockquote.twitter-tweet a {
 color: inherit;
 font-weight: normal;
 text-decoration: none;
 outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
 text-decoration: underline;
}

/* End Twitter Embed Styles */

.clickableEvent {
  cursor: pointer;
}
